.links {
  position: absolute;
  bottom: 5vw;
  right: 5vw;
  max-width: 25%;
  font-size: 16px;
  font-family: "Fira Mono", monospace;
  text-align: right;
  & a {
    cursor: pointer;
  }
  & p {
    height: 32px;
    width: 80px;
  }
}
